*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "ubuntuFont";
    src: url("./assets/Ubuntu-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "ubuntuFont";
    src: url("./assets/Ubuntu-MediumItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    padding: 0;
    margin: 0;
}

body {
    font-family: "ubuntuFont";
    display: flex;
    flex-direction: column; 
    align-items: center;
}

header {
    display: flex;
}

.header-image {
    max-width: 500px;
}