:root {
    --header-element-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.301);
    --background-shapes-color: rgb(4, 91, 112);
    --html-section-width-desktop: 1700px;
    --html-section-width-tablet: 700px;
    --html-section-width-mobile: 400px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "ubuntuFont";
    src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "ubuntuFont";
    src: url("./assets/fonts/Ubuntu-MediumItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
button {
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
}

header,
main,
footer {
    max-width: var(--html-section-width-desktop);
}

.diagonal-shape {
    position: absolute;
    min-width: 100%;
    min-height: 1000px;
    background-color: var(--background-shapes-color);
    transform: rotate(-10deg) scale(1.2, 2) translateY(-300px);
    z-index: -1;
    box-shadow: var(--header-element-box-shadow);
}

body {
    font-family: "ubuntuFont";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shape-overflow-container {
    overflow-x: clip;
    min-width: 100%;
}

header {
    display: flex;
    align-items: center;
    margin: 80px 80px 800px 80px;
    position: relative;
    top: 350px;
    left: 351px;
    max-width: 800px;
}

.header-title {
    font-size: 3rem;
}

.header-image-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 800px;
    top: 50%;
    bottom: 50%;
}

.header-image {
    max-height: 1200px;
    box-shadow: var(--header-element-box-shadow);
}

.header-image-text {
    text-align: center;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    min-width: 800px;
    font-size: 3rem;
    top: 300px;
}

.header-main-text {
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 30px;
}

.header-text-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: var(--header-element-box-shadow);
    min-width: 900px;
    min-height: 500px;
    padding: 30px;
    background-color: white;
}

.header-social-button-group {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.github-button,
.linkedin-button,
.twitter-button {
    min-width: 60px;
    background: none;
    border: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-title {
    font-size: 3rem;
}

.main-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px 60px;
}

.card {
    box-shadow: 2px 7px 12px 2px rgba(0, 0, 0, 0.425);
    display: flex;
    flex-direction: column;
    max-width: 530px;
}

.card-screenshot-container-red,
.card-screenshot-container-purple,
.card-screenshot-container-green,
.card-screenshot-container-pink,
.card-screenshot-container-orange,
.card-screenshot-container-blue {
    padding: 90px 100px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card-screenshot-container-red {
    background-color: red;
}

.card-screenshot-container-purple {
    background-color: rgba(128, 0, 128, 0.507);
}

.card-screenshot-container-green {
    background-color: rgba(0, 128, 0, 0.726);
}

.card-screenshot-container-pink {
    background-color: rgb(255, 0, 212);
}

.card-screenshot-container-orange {
    background-color: rgb(255, 72, 0);
}

.card-screenshot-container-blue {
    background-color: rgba(0, 110, 255, 0.651);
}

.card-screenshot {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.card-text-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.card-text-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-social-button-group {
    display: flex;
    gap: 30px;
}

.card-github-button,
.card-open-button {
    min-width: 50px;
    background: none;
    border: none;
}

.card-description {
    color: rgb(66, 66, 66);
    padding-bottom: 80px;
}

footer {
    display: flex;
    background-color: var(--background-shapes-color);
    min-width: 100%;
    margin-top: 150px;
    justify-content: center;
    gap: 200px;
    padding: 80px;
}

.phone-group,
.email-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.phone-icon,
.email-icon {
    max-height: 30px;
    filter: invert();
}

.footer-text-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    color: white;
    max-width: 500px;
    font-size: 1.4rem;
    font-style: normal;
}

.footer-title {
    font-size: 3rem;
}

.address {
    max-width: 100px;
}

.contact-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-social-group > button {
    min-width: 80px;
    border: none;
    background: none;
}

.footer-image {
    max-height: 800px;
    min-width: 1000px;
}

/* tablet breakpoint */
@media (min-width: 700px) and (max-width: 1100px) {
    header,
    main,
    footer {
        max-width: var(--html-section-width-tablet);
    }

    .diagonal-shape {
        transform: rotate(-10deg) translateY(-485px) scaleX(5);
    }

    header {
        top: 0;
        margin-top: 250px;
        margin-bottom: 200px;
        margin-left: 190px;
        background-color: white;
        box-shadow: var(--header-element-box-shadow);
        padding: 30px;
        max-height: 800px;
        position: static;
    }

    .header-image-container {
        position: relative;
        right: 0;
        top: 0;
        float: left;
        margin-left: 65px;
        margin-bottom: 20px;
        transform: translate(-130px, -90px) scaleX(2.8) scaleY(2);
    }

    .header-image {
        max-height: 200px;
        max-width: 200px;
    }

    .header-image-text {
        min-width: 400px;
        font-size: 2rem;
        top: 100px;
        transform: scale(0.6) translate(180px, -157px);
        background: none;
        text-shadow: 0px 6px 10px black;
    }

    .header-text-container {
        display: inline;
        min-width: auto;
        min-height: auto;
        background: none;
        box-shadow: none;
    }

    .header-title {
        font-size: 2rem;
    }

    .header-main-text {
        text-wrap: wrap;
        font-size: 1rem;
    }

    .main-title {
        font-size: 2rem;
    }

    .main-card-container {
        grid-template-columns: repeat(2, minmax(320px, 1fr));
        gap: 50px 40px;
    }

    .card-screenshot {
        font-size: 2rem;
    }

    .footer-image {
        min-width: 300px;
        max-height: 400px;
    }

    .footer-title {
        font-size: 2rem;
    }

    .footer-text-container {
        font-size: 1rem;
        gap: 20px;
    }

    footer {
        gap: 100px;
    }

    .footer-social-group > button {
        min-width: 50px;
    }
}

/* mobile breakpoint */
@media (max-width: 500px) {

    header,
    main,
    footer {
        max-width: var(--html-section-width-tablet);
    }

    .shape-overflow-container {
        max-width: var(--html-section-width-mobile);
        max-height: 1000px;
        position: relative;
    }

    .diagonal-shape {
        transform: rotate(328deg) translateY(-643px) scaleX(8);

    }

    header {
        max-width: 400px;
        top: 0;
        margin: 0 0 200px 0;
        padding: 0;
        max-height: none;
        position: static;
    }

    .header-title {
        font-size: 2rem;
    }

    .header-text-container {
        background: none;
        box-shadow: none;
        min-width: 0;
        align-items: center;
        padding: 15px;
    }

    .header-main-text {
        padding: 0;
    }

    .header-image-container {
        position: static;
        right: 0;
        top: 0;
        float: none;
        margin-left: 0;
        margin-bottom: 0;
        align-items: start;
    }

    .header-image-text {
        min-width: 0;
        max-width: none;
        font-size: 3.5rem;
        text-align: left;
        top: 340px;
        background: none;
        text-shadow: 0px 6px 10px black;
    }

    .header-image {
        max-height: 500px;
        max-width: 400px;
    }

    main {
        padding: 20px;
    }

    .main-card-container {
        grid-template-columns: minmax(320px, 1fr);
    }

    .main-title {
        font-size: 2rem;
    }

    .card {
        max-width: 377px;
    }

    .card-github-button, .card-open-button {
        min-width: 40px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        gap: 100px;
        padding: 0;
    }

    .footer-description {
        font-size: 1.2rem;
    }

    .footer-text-container {
        max-width: 377px;
        font-size: 1rem;
        gap: 30px;
        padding: 20px;
    }

    .footer-title {
        text-align: center;
    }

    .phone-icon,
    .email-icon {
        visibility: hidden;
        position: absolute;
    }

    .footer-social-group {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .footer-social-group > button {
        min-width: 60px;
    }

    .footer-image {
        max-height: 500px;
        max-width: 400px;
        min-width: 0;
    }
}
