:root {
    --header-element-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.301);
    --background-shapes-color: rgb(4, 91, 112);
    --html-section-width: 1700px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "ubuntuFont";
    src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "ubuntuFont";
    src: url("./assets/fonts/Ubuntu-MediumItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
button {
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    font-family: "ubuntuFont";
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header {
    display: flex;
    align-items: center;
    margin: 80px;
    position: relative;
}

.diagonal-shape {
    position: absolute;
    min-width: 100vw;
    min-height: 5000px;
    background-color: var(--background-shapes-color);
    transform: rotate(-15deg) scalex(2) translate(3%, -81%);
    z-index: -1;
    box-shadow: var(--header-element-box-shadow);
}

.header-title {
    font-size: 3rem;
}

.header-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-image {
    max-height: 1200px;
    box-shadow: var(--header-element-box-shadow);
}

.header-image-text {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    min-width: 800px;
    font-size: 3rem;
}

.header-main-text {
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 30px;
}

.header-text-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: var(--header-element-box-shadow);
    min-width: 900px;
    min-height: 500px;
    padding: 30px;
    background-color: white;
}

.header-social-button-group {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.github-button,
.linkedin-button,
.twitter-button {
    min-width: 60px;
    background: none;
    border: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-title {
    font-size: 3rem;
}

.main-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px 60px;
}

.card {
    box-shadow: 2px 7px 12px 2px rgba(0, 0, 0, 0.425);
    display: flex;
    flex-direction: column;
    max-width: 530px;
}

.card-screenshot-container-red,
.card-screenshot-container-purple,
.card-screenshot-container-green,
.card-screenshot-container-pink,
.card-screenshot-container-orange,
.card-screenshot-container-blue {
    padding: 90px 100px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card-screenshot-container-red {
    background-color: red;
}

.card-screenshot-container-purple {
    background-color: rgba(128, 0, 128, 0.507);
}

.card-screenshot-container-green {
    background-color: rgba(0, 128, 0, 0.726);
}

.card-screenshot-container-pink {
    background-color: rgb(255, 0, 212);
}

.card-screenshot-container-orange {
    background-color: rgb(255, 72, 0);
}

.card-screenshot-container-blue {
    background-color: rgba(0, 110, 255, 0.651);
}

.card-screenshot {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.card-text-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.card-text-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-social-button-group {
    display: flex;
    gap: 30px;
}

.card-github-button,
.card-open-button {
    min-width: 50px;
    background: none;
    border: none;
}

.card-description {
    color: rgb(66, 66, 66);
    padding-bottom: 80px;
}

footer {
    display: flex;
    background-color: var(--background-shapes-color);
    min-width: 100vw;
    margin-top: 150px;
    justify-content: center;
    gap: 200px;
    padding: 80px;
}

.phone-group,
.email-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.phone-icon,
.email-icon {
    max-height: 30px;
    filter: invert();
}

.footer-text-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    color: white;
    max-width: 500px;
    font-size: 1.4rem;
    font-style: normal;
}

.footer-title {
    font-size: 3rem;
}

.address {
    max-width: 100px;
}

.contact-group {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.footer-social-group > button {
    min-width: 80px;
    border: none;
    background: none;
}

.footer-image {
    max-height: 800px;
    min-width: 1000px;
}


header,
main,
footer {
    max-width: var(--html-section-width);
}

@media(max-width: 600px) { 
    header {
        margin: 40px;
    }
}

